<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un membre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    
</head>
<body>

<div class="navbar">Ajouter un membre</div>

<div class="container">

    <h2>Formulaire d'ajout</h2> 

    <form method="POST">

        <label>ID Étudiant</label>
        <input type="text" name="student_id" required>

        <label>Nom</label>
        <input type="text" name="family_name" required>

        <label>Prénom</label>
        <input type="text" name="first_name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Téléphone</label>
        <input type="text" name="phone">

        <label>Adresse</label>
        <input type="text" name="address">

        <label>Date d’adhésion</label>
        <input type="text" name="join_date">

        <label>Statut</label>
        <select name="subscription_status">
            <option value="paid">paid</option>
            <option value="pending">pending</option>
        </select>

        <button type="submit" class="btn-main">Ajouter</button>
    </form>

</div>

</body>
</html>
