<!DOCTYPE html>
<html>
<head>
    <title>Membres</title>  
    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



  
</head>
<body>

<div class="navbar">Club Scientifique - Chahira.Cylia</div>

<div class="container">

    <h2>Liste des membres</h2>

    <!-- Navigation buttons -->
    <a href="/search"><button class="btn-main">🔍 Rechercher par compétence</button></a>
    <a href="/stats"><button class="btn-main">📊 Statistiques</button></a>
    <a href="/events"><button class="btn-main">📅 Activités / Events</button></a>
    <a href="/interests"><button class="btn-main">⭐ Interests</button></a>

    <hr>

    {% for m in members %}
    <div class="member-card">
        <strong>{{ m.family_name }} {{ m.first_name }}</strong>
        <br>
        <small>Email: {{ m.email }} | Téléphone: {{ m.phone }}</small>
        <br>
        <small>Statut : {{ m.subscription_status }}</small>

        <div class="buttons">
          <a href="/add" class="btn-main">➕ Ajouter un membre</a>

            <a href="/edit/{{ m.student_id }}"><button class="btn-edit">✏ Modifier</button></a>
            <a href="/delete/{{ m.student_id }}" onclick="return confirm('Supprimer ce membre ?');">
                <button class="btn-delete">🗑 Supprimer</button>
            </a>
        </div>
    </div>
    {% endfor %}

</div>

</body>
</html>
